# Java
*.class
*.jar
*.war
*.ear

# Dossiers de compilation
common/out/
server/out/
client/out/

# IDE
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp
*.tmp
*.swp
